# Ignore build artifacts and dependencies
.task

# Ignore Taskfile artifacts
bin

# Ignore frontend build artifacts and dependencies
frontend/dist
frontend/node_modules

# Ignore build output directories and files
build/bin
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
